#{extends 'principal.html' /}
#{set title:'Formulário Leito' /}

%{
	String tituloAcaoForm = leitosporquarto.id == null? "Cadastrar":"Salvar Alterações"; 
	String tituloForm = leitosporquarto.id == null? "Cadastro":"Edição";
}%

<meta charset="utf-8">
<div id="pacie">
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-bookmark"></i> ${tituloForm} de Leito</div>
	<div class="card-body">
          
		<form action="@{Leitos.salvar}" name="Filter" class="form" method="post">
			
			<input type="hidden" value="${leitosporquarto?.id}" name="leitosporquarto.id">
			
				
				<h6><b>Identificação do Leito</b></h6>
				<div class="row">
					<div class="form-group col-md-3">
					   <label for="formGroupExampleInput"><h11>*</h11>Numero:</label>
					   <input class="form-control" id="numeroLeito" type="text" value="${leitosporquarto?.numeroLeito}" name="leitosporquarto.numeroLeito" placeholder="Ex: 000">
					</div>
				</div>
					
					<div class="modal-footer">
					<input class="btn btn-success" type="submit" value="${tituloAcaoForm}">
					<button type="reset" class="btn btn-default" data-dismiss="modal">Limpar</button>
				</div>

			</form>
		</div>
	</div>
</div>