<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<!-- 
					<div class="form-group col-md-4">
					   <label for="cpf">CPF:</label>
					   <input class="form-control" id="cpf" placeholder="" type="text" value="${paciente?.cpf}" name="paciente.cpf">
					</div>
					
					<div class="form-group col-md-5">
					   <label for="nome">Nome:</label>
					   <input class="form-control" id="nome" placeholder="" type="text" value="${paciente?.nome}" name="paciente.nome">
					</div>
					
					<div class="form-group col-md-2">
					   	<label for="sexo">Sexo:</label>
					   	<select class="form-control form-control-sm" id="sexo"  value="${paciente?.sexo}" name="paciente.sexo">
							<option value="selecione">Selecione</option>
							<option value="masculino">Masculino</option>
							<option value="feminino">Feminino</option>
							<option value="outros">Outros</option>
					   	</select>
					</div>
					
					<div class="form-group col-md-1">
					   <label for="id">ID:</label>
					   <input class="form-control" id="id" placeholder="" type="text" value="${paciente?.id}" name="paciente.id">
					</div>
				</div>	
				
				
					
					
				<h6><b>Estado do Paciente</b></h6>					
				<div class="row">			
					<div class="form-group col-md-4">
					   	<label for="tipointernacao">Tipo da Internação:</label>
					   	<select class="form-control form-control-sm" id="tipointernacao" type="text" value="${paciente?.tipointernacao}" name="paciente.tipointernacao">
							<option>Selecione</option>
							<option value="LEVE">LEVE</option>
							<option value="MEDIA">MEDIA</option>
							<option value="GRAVE">GRAVE</option>
							<option value="GRAVISSIMA">GRAVISSIMA</option>
						</select>
					</div>					

					<div class="form-group col-md-2">
					   <label for="pressao">Pressão:</label>
					   <input class="form-control" id="pressao" placeholder="" type="text" value="${paciente?.pressao}" name="paciente.pressao">
					</div>
					
					<div class="form-group col-md-2">
					   <label for="temperatura">Temperatura:</label>
					   <input class="form-control" id="temperatura" placeholder="" type="text" value="${paciente?.temperatura}" name="paciente.temperatura">
					</div>
					
					<div class="form-group col-md-2">
					   <label for="peso">Peso:</label>
					   <input class="form-control" id="peso" placeholder="" type="text" value="${paciente?.peso}" name="paciente.peso">
					</div>
					
					<div class="form-group col-md-2">
					   <label for="altura">Altura:</label>
					   <input class="form-control" id="altura" placeholder="" type="text" value="${paciente?.altura}" name="paciente.altura">
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12">
					   <label for="infoComplementares">Informações Complementares:</label>
					   <input class="form-control" id="infoComplementares" placeholder="" type="text" value="${paciente?.infoComplementares}" name="paciente.infoComplementares">
					</div>
				</div>
				
				</br>
				<h6><b>Responsaveis pela Internação</b></h6>
				<div class="row">
					<div class="form-group col-md-4">
					   <label for="numCRM">CRM do Medico:</label>
					   <input class="form-control" id="numCRM" placeholder="" type="text" value="${medico?.numCRM}" name="medico.numCRM">
					</div>
					
					<div class="form-group col-md-8">
					   <label for="nome">Nome do Medico:</label>
					   <input class="form-control" id="nome" placeholder="" type="text" value="${medico?.nome}" name="medico.nome">
					</div>
				</div>
					
				<div class="row">
					<div class="form-group col-md-4">
					   <label for="numCoren">COREN do Enfermeiro:</label>
					   <input class="form-control" id="numCoren" placeholder=" " type="text" value="${enfemeiro?.numCoren}" name="enfemeiro.numCoren">
					</div>
					
					<div class="form-group col-md-8">
					   <label for="nome">Nome do Enfermeiro:</label>
					   <input class="form-control" id="nome" placeholder="" type="text" value="${enfemeiro?.nome}" name="enfemeiro.nome">
					</div>
				</div>
			</div>
			
			-->

</body>
</html>