#{extends 'principal.html' /}
#{set title:'Formulario' /}

%{
	String tituloAcaoForm = enfermeiro?.id == null? "Cadastrar":"Salvar Alterações"; 
	String tituloForm = enfermeiro?.id == null? "Cadastro":"Edição";
}%

<meta charset="utf-8">
<div class="card mb-3">
	  <div class="card-header">
	  		<i class="fa fa-bookmark"></i> ${tituloForm} de Enfermeiro</div>	    
	  <div class="card-body">
          
		<form action="@{Enfermeiros.salvar}" method="post" enctype="multipart/form-data">
		<input type="hidden" value="${enfermeiro?.id}" name="enfermeiro.id">
			
			<h6><b>Identificação</b></h6>
			
			#{if enfermeiro?.foto?.exists()}
	   		<img height="150px" width="150px" src="@{Enfermeiros.fotoEnfermeiro(enfermeiro.id)}"><br>
   			<div class="form-group">
           		<div class="form-check">
             		<label class="form-check-label">
             			<input class="form-check-input" type="checkbox" name="excluirFoto">Excluir Imagem
					</label>
           		</div>
       		</div>
		   	#{/if}
		   	
		   	<input type="file" value="${paciente?.foto}" name="paciente.foto">
		   	
			
				<div class="row">
					<div class="form-group col-md-5">
					   <label for="formGroupExampleInput"><h11>*</h11>Nome:</label>
					   <input class="form-control" id="nome" type="text" value="${enfermeiro?.nome}" name="enfermeiro.nome" placeholder="Ex: pedro antonio cascadura">
					</div>
					
					<div class="form-group col-md-2">
					   	<label for="formGroupExampleInput"><h11>*</h11>Sexo:</label>
					   	<select class="form-control" id="sexo" value="${enfermeiro?.sexo}" name="enfermeiro.sexo">
							<option selected="" value="">Selecione o Sexo</option>
							#{list items:sexos, as: 'sexo'}
								<option value="${sexo}" ${(enfermeiro?.sexo != null && enfermeiro.sexo == sexo)? 'selected':''}>${sexo}</option>
							#{/list}
					   	</select>
					</div>
					
					<div class="form-group col-md-3">
					   <label for="formGroupExampleInput"><h11>*</h11>Data de Nascimento:</label>
					   <input class="form-control" id="dataNas" type="date" value="${enfermeiro?.dataNas}" name="enfermeiro.dataNas">
					</div>
					
					<div class="form-group col-md-2">
					   	<label for="formGroupExampleInput"><h11>*</h11>Estado Civil:</label>
					   	<select class="form-control" id="estCivil" value="${enfermeiro?.estCivil}" name="enfermeiro.estCivil">
							<option selected="" value="">Selecione</option>
							#{list items:estadosCivis, as: 'estadocivil'}
								<option value="${estadocivil}" ${(enfermeiro?.estCivil != null && enfermeiro.estCivil == estadocivil)? 'selected':''}>${estadocivil}</option>
							#{/list}
					   	</select>
					</div>
				</div>
				
				<div class="row">
				
					<div class="form-group col-md-2">
					   	<label for="formGroupExampleInput"><h11>*</h11>Nacionalidade:</label>
					   	<select class="form-control" id="nacionalidade" value="${enfermeiro?.nacionalidade}" name="enfermeiro.nacionalidade">
							<option selected="" value="">Selecione</option>
							#{list items:nacionalidades, as: 'nacionalidade'}
								<option value="${nacionalidade}" ${(enfermeiro?.nacionalidade != null && enfermeiro.nacionalidade == nacionalidade)? 'selected':''}>${nacionalidade}</option>
							#{/list}
						</select>
					</div>	
					
					<div class="form-group col-md-3">
					   <label for="formGroupExampleInput"><h11>*</h11>Estado:</label>
					   <select class="form-control" id="naturalEstado" value="${enfermeiro?.naturalEstado}" name="enfermeiro.naturalEstado">
			
					   	</select>
					</div>
					
					<div class="form-group col-md-2">
					   <label for="formGroupExampleInput"><h11>*</h11>Naturalidade:</label>
					   <select class="form-control" id="naturalCidade" value="${enfermeiro?.naturalCidade}" name="enfermeiro.naturalCidade">
					   
					   </select>
					</div>
					
					
					<div class="form-group col-md-2">
					   <label for="formGroupExampleInput"><h11>*</h11>CPF:</label>
					   <input class="form-control" id="cpf" type="text" maxlength="14" value="${enfermeiro?.cpf}" name="enfermeiro.cpf" onkeydown="javascript: fMasc( this, mCPF );" placeholder="Ex.: 000.000.000-00">
					</div>
					
					<div class="form-group col-md-3">
					   <label for="formGroupExampleInput"><h11>*</h11>RG:</label>
					   <input class="form-control" id="rg" type="text" maxlength="11" value="${enfermeiro?.rg}" name="enfermeiro.rg" onkeydown="javascript: fMasc( this, mRG );" placeholder="Ex.: 00000.000-0">
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-3">
					   <label for="formGroupExampleInput"><h11>*</h11>Celular:</label>
					   <input class="form-control" id="telefone" type="text" maxlength="14" value="${enfermeiro?.telefone}" name="enfermeiro.telefone" onkeydown="javascript: fMasc( this, mTel);" placeholder="Ex.: (00)00000-0000">
					</div>
					
					<div class="form-group col-md-2">
					   <label for="formGroupExampleInput"><h11>*</h11>UF do Coren:</label>
					   <select class="form-control" id="UFcoren" value="${enfermeiro?.UFcoren}" name="enfermeiro.UFcoren">
							<option selected="" value="">UF </option>
							#{list items:estados, as: 'UFcoren'}
								<option value="${UFcoren}" ${(enfermeiro?.UFcoren != null && enfermeiro.UFcoren == UFcoren)? 'selected':''}>${UFcoren}</option>
							#{/list}
					   	</select>
					</div>
					
					<div class="form-group col-md-2">
					   <label for="formGroupExampleInput"><h11>*</h11>N° COREN:</label>
					   <input class="form-control" id="numCoren" type="text" maxlength="10" value="${enfermeiro?.numCoren}" name="enfermeiro.numCoren">
					</div>
					
					<div class="form-group col-md-5">
					   <label for="formGroupExampleInput"><h11>*</h11>E-mail:</label>
					   <input class="form-control" id="email" type="email" value="${enfermeiro?.email}" name="enfermeiro.email" placeholder="Ex.: anonymous@email.com">
					</div>
					
				</div>	
				
				</br>
				<h6><b>Endereço Residencial</b></h6>
				<div class="row">
					<div class="form-group col-md-5">
					   <label for="formGroupExampleInput"><h11>*</h11>Rua ou Avenida:</label>
					   <input class="form-control" id="rua" type="text" value="${enfermeiro?.rua}" name="enfermeiro.rua">
					</div>
					
					<div class="form-group col-md-1">
					   <label for="formGroupExampleInput"><h11>*</h11>Número:</label>
					   <input class="form-control" id="numCasa" type="text" value="${enfermeiro?.numCasa}" name="enfermeiro.numCasa">
					</div>
					
					<div class="form-group col-md-2">
					   <label for="formGroupExampleInput"><h11>*</h11>Complemento:</label>
					   <input class="form-control" id="complemento" type="text" value="${enfermeiro?.complemento}" name="enfermeiro.complemento" placeholder="Ex.: casa">
					</div>
					
					<div class="form-group col-md-4">
					   <label for="formGroupExampleInput"><h11>*</h11>Bairro:</label>
					   <input class="form-control" id="bairro" type="text" value="${enfermeiro?.bairro}" name="enfermeiro.bairro" placeholder="Nome do bairro em que reside">
					</div>
				</div>
				
				<div class="row">
										
					<div class="form-group col-md-3">
					   <label for="formGroupExampleInput"><h11>*</h11>Estado:</label>
					   <select class="form-control" id="estado" value="${enfermeiro?.estado}" name="enfermeiro.estado">
						
					   	</select>
					</div>
					
					<div class="form-group col-md-4">
					   <label for="formGroupExampleInput"><h11>*</h11>Cidade:</label>
					   <select class="form-control" id="cidade" value="${enfermeiro?.cidade}" name="enfermeiro.cidade">
					   					   
					   </select>
					</div>
					
					<div class="form-group col-md-2">
					   <label for="formGroupExampleInput"><h11>*</h11>CEP:</label>
					   <input class="form-control" id="cep" type="text" maxlength="10" value="${enfermeiro?.cep}" name="enfermeiro.cep" onkeydown="javascript: fMasc( this, mCEP );" placeholder="Ex.: 00.000-000">
					</div>
				</div>	
				
				<h12>* Campo Obrigátorio</h12>	
			
			<div class="modal-footer">
				<input class="btn btn-success" type="submit" value="${tituloAcaoForm}">
				<button type="reset" class="btn btn-default" data-dismiss="modal">Limpar</button>
			</div>
			
		</form>
	</div>
</div>

<script src="@{'/public/bootstrap/js/cidades-estados-utf8.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/bootstrap/js/CidadeEstado.js'}" type="text/javascript" charset="${_response_encoding}"></script>

<script type="text/javascript">
	function fMasc(objeto, mascara) {
		obj = objeto
		masc = mascara
		setTimeout("fMascEx()", 1)
	}
	function fMascEx() {
		obj.value = masc(obj.value)
	}
	function mTel(tel) {
		tel = tel.replace(/\D/g, "")
		tel = tel.replace(/^(\d)/, "($1")
		tel = tel.replace(/(.{3})(\d)/, "$1)$2")
		if (tel.length == 9) {
			tel = tel.replace(/(.{1})$/, "-$1")
		} else if (tel.length == 10) {
			tel = tel.replace(/(.{2})$/, "-$1")
		} else if (tel.length == 11) {
			tel = tel.replace(/(.{3})$/, "-$1")
		} else if (tel.length == 12) {
			tel = tel.replace(/(.{4})$/, "-$1")
		} else if (tel.length > 12) {
			tel = tel.replace(/(.{4})$/, "-$1")
		}
		return tel;
	}

	function mCPF(cpf) {
		cpf = cpf.replace(/\D/g, "")
		cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
		cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
		cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
		return cpf
	}
	function mCEP(cep) {
		cep = cep.replace(/\D/g, "")
		cep = cep.replace(/^(\d{2})(\d)/, "$1.$2")
		cep = cep.replace(/\.(\d{3})(\d)/, ".$1-$2")
		return cep
	}

	function mRG(rg) {
		rg = rg.replace(/\D/g, "");
		rg = rg.replace(/(\d{3})(\d)/, "$1.$2")
		rg = rg.replace(/(\d{3})(\d)/, "$1.$2")
		rg = rg.replace(/(\d{3})(\d)/, "$1.$2")
		return rg
	}
	
</script>