#{extends 'main.html' /}
#{set title:'Listar Medicamentos' /}

<meta charset="utf-8">
<!-- <h1>Listar Medicamentos</h1> -->

<!-- <ul> -->
<!-- #{list items:medicamentos, as:'medicamento'} -->
<!-- 	<li> ${medicamento.nomeMedicamento} </li> -->
<!-- #{/list} -->
<!-- </ul> -->
<!-- #{else}Nenhum Medicamento na lista.#{/else} -->

<div class="card mb-3">
	<div class="card-header">
   		<i class="fa fa-table"></i>Lista de Medicamentos</div>
 	<div class="card-body">
		    
	    <table class="table dataTable" id="dataTable">
	    	<thead>
		        <tr>
		        <th rowspan="1" colspan="1">Nome</th>
		        <th rowspan="1" colspan="1">fabricante</th>
		        
	         
	       	</thead>
	       	<tbody>
		
			#{list items:medicamentos, as:'medicamento'}
			<tr role="row">
	        	<td>${medicamento.nomeMedicamento}</td>
	           	<td>${medicamento.fabricante}</td>
           	
           		<td align="right" valign="middle">
           			<a class="btn1 btn-default" href="@{Medicamentos.detalhes(medicamento)}">
          					<button class="btn">
          						<i class="fa fa-fw fa fa-bars"></i>
          					</button>
          				</a>
	           		<a class="btn1 btn-default" href="@{Medicamentos.editar(medicamento.id)}">
	           			<button class="btn">
	           				<i class="fa fa-fw fa-pencil"></i>
	           			</button>
	           		</a>
	           	  	<a class="btn1 btn-default" href="@{Medicamentos.remover(medicamento.id)}">
	           	  		<button class="btn">
	           	  			<i class="fa fa-fw fa-trash"></i>
	           	  		</button>
	           	  	</a>
           		</td>
	           	</td>
	       		</tr>
			#{/list}
			</tbody>
	    </table>
    	</br></br></br>
    	<div class="modal-footer">
    		'<a href="@{Medicamentos.form}"><button class="btn btn-success">Cadastrar novo Medico</button></a>    
    	</div>
  	</div>
</div>
  
